/*h1{
	background: #000000;
}
header {
	background: #000000;
	padding: 20px 0;
}
nav li {
	display: inline;
	margin: 0 0 0 10px;
	
}
nav{
	position: absolute;
	top: 110px;
	right: 0;
}
nav a {
	text-transform: uppercase;
	color: #000000;
	font-wigth: bold;
    font-size: 22px;
	text-decoration: none;
	
}
.home{
	color: #0672ba;
	border : 2px solid #ffffff;
	border-radius : 10px;
}
.home a:hover{
	color: #ffffff;	
	border : 2px solid #0672ba;
	border-radius : 10px;
}
.produtos{
	color: #ffffff;
	
}
.contato{
	color: #ffffff;
	
}
.caixa{
	position: relative;
	width: 940px;
    margin: 0 auto;
}
nav a:hover{
 color: #cccccc;
}
.cortes{
	width: 940px;
    margin: 0 auto;	
	padding: 50px 0;
}
.cortes li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border:  5px solid #000000;
	border-radius: 20px;
}
.cortes li:hover{
	border-color: #0672ba;
}
.cortes li:hover h2{
	font-size: 30px;
	font-weight: bold;
}
.cortes li:active{
	border-color: #cccccc;
	
}
.cortes h2{
	font-size: 30px;
	font-weight: bold
}
.cortes li:hover h2{
	font-size: 34px;
}
.cortes-preco{
	font-size: 22px;
	font-weight: hold;
	margin: 10px;
}
.cortes-descricao{
	font-size: 20px;
	
}

body{
    background:  #0672ba;	
}
.banner{
	width:100%;
}
.principal{
   background: black	
}
.titulo-principal{
	padding: 30px;
	color: #ffffff;
	width: 19%;
	background: #000000
}
p {
	text-align: center;
	color: #ffffff;
}
#missao{
	"front-size: 20px
}
em strong{
	color: #0672ba;
}
.itens {
	font-style: italic;
}
h2{

	color: #ffffff;
	text-align:center;
}
ul{
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
}
li{
	color: #ffffff;
}
.beneficios{
	width:60%;
	background: #000000 ;
}
.titulo-centralizado{
	text-align:center;
}
h3{
	color: #ffffff;
}
.caixa{
	position: relative;
	width: 940px;
    margin: 0 auto;
}
nav a:hover{
 color: #cccccc;*/
}
/*css pagina inicial*/
.banner{
	width: 100%;
}
.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 1em;
}